<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>
<body style="background-image: url(../img/background.png); background-repeat: repeat; background-size: cover; color: black;">
	
	<div ng-app="myApp"  ng-controller="RegCtrl">
		<div class="limiter">
			<div class="" style=" padding-top: 10%;" >
				<div class="" style=" padding: 20px;">
					<form class="login100-form validate-form">
						<span class="login100-form-logo">
							<img src="../img/logo.png" width="110px">
							<!-- 	<i class="zmdi zmdi-landscape"></i> -->
						</span>

						<span class="login100-form-title p-b-34 p-t-27" style="color: white;">
							Log in
						</span>

						<div class="wrap-input100 validate-input" data-validate = "Enter Full Name">
							<input class="input100" type="text" name="username" ng-model="fullname" placeholder="Full Name">
							<span class="focus-input100" data-placeholder="&#xf207;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter Email ID">
							<input class="input100" type="text" name="username" ng-model="Email" placeholder="Email ID">
							<span class="focus-input100" data-placeholder="&#64;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter Mobile">
							<input class="input100" type="text" maxlength="10" name="username" ng-model="Mobile" placeholder="Mobile No">
							<span class="focus-input100" data-placeholder="&#9990;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							<input class="input100" type="password" name="pass" ng-model="Password" placeholder="Password" >
							<span class="focus-input100" data-placeholder="&#xf191;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter Confirm Password">
							<input class="input100" type="password" name="username" ng-model="CPassword" placeholder="Confirm Password" >
							<span class="focus-input100" data-placeholder="&#xf191;"></span>
						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" ng-click="Reg()" style="background:#c6372f;">
								Sign Up
							</button>
						</div>
						<div style=" text-align: center;">
						<span style="color: white;">{{error}}</span>
						</div>
						<div class="text-center p-t-10">
							<a class="txt1" href="login.html">Already have an account ? Login Here</a>
						</div>

					
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('RegCtrl', function ($scope, $http) {


			if(localStorage.getItem("Ip") == null)
			{

				$http.get("http://api.ipstack.com/123.136.233.107?access_key=2dfe096702cd6ad09b9df8d9a15eaa3e&format=1").then(function (response) 
				{
            // $scope.ip = response.data.ip;

            localStorage.setItem("Ip",response.data.ip);
         //  sessionStorage.setItem("Location",response.data.city+' | '+response.data.region);
         localStorage.setItem("Location",response.data.city+' | '+response.data.region_name);

     });
			} 


			$scope.Reg = function () {

				$scope.error = "Wait ...";  

				if($scope.fullname != undefined && $scope.Email != undefined && $scope.Mobile != undefined && $scope.Password != undefined)
				{
					if($scope.Password == $scope.CPassword)
					{
						http = localStorage.getItem("serverpath")+"data.php?func=UserReg&fullname="+$scope.fullname+"&phone="+$scope.Mobile+"&email="+$scope.Email+"&password="+$scope.Password+"&ip="+localStorage.getItem("Ip")+"&location="+localStorage.getItem("Location");
        //the REST service Server to fetch the day stock 

				        $http.get(http)
				        .then(function (response) { 

				        	$scope.error = response.data.d[0].Msg;
				        	if(response.data.d[0].Code != 0)
				        	{
				        		window.setTimeout(function(){

				        			window.location.href = "login.html";

				        		}, 3000);

				        	}
				        });
				    }
				    else
				    {
				    	$scope.error = "Password not matched !";
				    }
				}
				else
				{
					$scope.error = "All fields are mendatory !";
				}



}

});

</script>

</body>
</html>